
{% set server = salt['grains.filter_by']({
    'Debian': {
        'pkgs': [ 'git-core', 'gcc', 'tesseract-ocr', 'unpaper', 'python-virtualenv', 'ghostscript', 'libjpeg-dev', 'libpng-dev', 'poppler-utils', 'python-dev', 'libpq-dev', "tesseract-ocr-ces", "tesseract-ocr", "imagemagick", "graphicsmagick", "unpaper", "poppler-utils", "unoconv" ],
        'dir': {
        	'base': '/usr/lib/mayan-edms',
        	}
    },
    'RedHat': {
        'pkgs': []
    },
}, merge=salt['pillar.get']('mayan:server')) %}


{% set api = salt['grains.filter_by']({
    'Debian': {
        'dir': {
            'base': '/usr/lib/mayan-edms',
            },
        'source': {
            'address': 'https://github.com/openode/mayan_pyro_api.git'
        }
    },
    'RedHat': {},
}, merge=salt['pillar.get']('mayan:api')) %}
